#headline-container {
    border-bottom: 1px solid var(--accent-color);
}
#headline-container h1{
    margin: 0 1rem;
}

.eyecatcher-container {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 50vh;
    grid-auto-columns: 1fr;
    gap: 8px 8px;
    grid-auto-flow: row;
    grid-template-areas:
    "img1 welcome img2"
    "img1 img3 img3";
}
.eyecatcher-container img:last-child {  
    height: 100%;
    object-fit: cover;
} 

.welcome {
    grid-area: welcome;
}

.img2{
    grid-area: img2;
}

.img1 {
    grid-area: img1;
}

.img3 {
    grid-area: img3;
}
  

@media (max-width: 920px){
    main p{
        padding-right: 1rem;
    }
    
}
@media (max-width: 700px){
    main p{
        padding-right: 1rem;
        font-size: inherit;
    }
}

@media(max-width: 525px){
    main p{
        padding-right: 1rem;
        font-size: inherit;
    }
}